/*==================================== RESET STYLES ====================================*/
/*==================================== RESET STYLES ====================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*==================================== VARS ====================================*/
/*==================================== VARS ====================================*/
/*==================================== MIXINS ====================================*/
/*==================================== MIXINS ====================================*/
/*==================================== FONTS ====================================*/
/*==================================== FONTS ====================================*/
@font-face {
  font-family: "Avenir Light";
  src: url("../fonts/avenir_light/avenir_light.otf") format("otf"), url("../fonts/avenir_light/avenir_light.woff") format("woff"), url("../fonts/avenir_light/avenir_light.woff2") format("woff2"), url("../fonts/avenir_light/avenir_light.ttf") format("truetype"), url("../fonts/avenir_light/avenir_light.svg#Avenir Light") format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Avenir Roman";
  src: url("../fonts/avenir_roman/avenir_roman.otf") format("otf"), url("../fonts/avenir_roman/avenir_roman.woff") format("woff"), url("../fonts/avenir_roman/avenir_roman.woff2") format("woff2"), url("../fonts/avenir_roman/avenir_roman.ttf") format("truetype"), url("../fonts/avenir_roman/avenir_roman.svg#Avenir Roman") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Black";
  src: url("../fonts/avenir_black/avenir_black.otf") format("otf"), url("../fonts/avenir_black/avenir_black.woff") format("woff"), url("../fonts/avenir_black/avenir_black.woff2") format("woff2"), url("../fonts/avenir_black/avenir_black.ttf") format("truetype"), url("../fonts/avenir_black/avenir_black.svg#Avenir Black") format("svg");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "rounds black";
  src: url("../fonts/rounds_black/rounds_black.otf") format("otf"), url("../fonts/rounds_black/rounds_black.woff") format("woff"), url("../fonts/rounds_black/rounds_black.woff2") format("woff2"), url("../fonts/rounds_black/rounds_black.ttf") format("truetype"), url("../fonts/rounds_black/rounds_black.svg#rounds Black") format("svg");
  font-style: normal;
  font-weight: 900;
}
html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
}

.button {
  border-radius: 20px;
  display: block;
}

.underline {
  text-decoration: underline;
}

/*==================================== HEADER ====================================*/
/*==================================== HEADER ====================================*/
.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.header__top {
  height: 82px;
  background: #FFF;
  color: #00327D;
  font-size: 11px;
  font-weight: 400;
}
.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 431px;
          flex: 0 1 431px;
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu-link {
  font-family: "Avenir Roman";
  font-size: inherit;
  color: inherit;
}
.header__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__button {
  font-family: "Avenir Roman";
  font-size: 13px;
  color: #FFF;
}
.header__button:hover {
  text-decoration: underline;
}
.header__button--1 {
  background: #F7A81A;
  padding: 11px 31px 11px 30px;
  margin-right: 20px;
}
.header__button--2 {
  background: #006AB5;
  padding: 11px 28px 11px 27px;
}
.header__bottom {
  height: 76px;
  background: rgba(255, 255, 255, 0.5019607843);
}
.header__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__bottom-item:nth-child(1) a:hover {
  color: #E14591;
}
.header__bottom-item:nth-child(2) a:hover {
  color: #65257F;
}
.header__bottom-item:nth-child(3) a:hover {
  color: #F7A819;
}
.header__bottom-item:nth-child(4) a:hover {
  color: #E14591;
}
.header__bottom-item:nth-child(5) a:hover {
  color: #F7A81A;
}
.header__bottom-link {
  color: #FFF;
  font-family: "Avenir Roman";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*==================================== HERO ====================================*/
/*==================================== HERO ====================================*/
.hero {
  background: url("../img/2.hero/hero-bg.png") no-repeat bottom/100% auto, #A7D0F6;
  height: 58vw;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-top: 36px;
  position: relative;
}
.hero__girl {
  position: absolute;
  z-index: 2;
  bottom: 23vw;
  left: 45%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.hero__girl img {
  width: 23vw;
}
.hero__heading {
  color: #00327D;
  text-align: center;
  font-family: "Rounds Black";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 3;
  margin-bottom: 40px;
  max-width: 900px;
}
.hero__text {
  color: #00327D;
  text-align: center;
  font-family: "Avenir Roman";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
  z-index: 3;
}
.hero__button-box {
  z-index: 3;
}
.hero__button {
  border-radius: 25px;
  background: #F7A81A;
  padding: 14px 72px 14px 71px;
  color: #FFF;
  text-align: center;
  font-family: "Avenir Roman";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hero__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*==================================== MUSCLES ====================================*/
/*==================================== MUSCLES ====================================*/
.muscles {
  padding: 120px 0;
}
.muscles__heading {
  text-align: center;
  font-family: "Rounds Black";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #00327D;
  max-width: 650px;
  margin: 0 auto 20px;
}
.muscles__text {
  margin-bottom: 75px;
  text-align: center;
  font-family: "Avenir Roman";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #00327D;
}
.muscles__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 904px;
}
.muscles__image-box {
  position: relative;
  width: 489px;
}
.muscles__image {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.muscles__image--active {
  visibility: visible;
  opacity: 1;
}
.muscles__info {
  max-width: 622px;
  padding-top: 15px;
}
.muscles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.muscles__item {
  padding-bottom: 92px;
  cursor: pointer;
  position: relative;
}
.muscles__item:last-child {
  padding-bottom: 0;
}
.muscles__item--active .muscles__item-title {
  color: #E14591;
  font-size: 30px;
}
.muscles__item-arrow {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.muscles__item-arrow--active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.muscles__item-arrow--1 {
  top: 12px;
  left: -210px;
}
.muscles__item-arrow--2 {
  top: 12px;
  left: -144px;
}
.muscles__item-arrow--3 {
  top: 12px;
  left: -146px;
}
.muscles__item-arrow--4 {
  top: 12px;
  left: -180px;
}
.muscles__item-arrow--5 {
  top: -115px;
  left: -174px;
}
.muscles__item-title {
  margin-bottom: 35px;
  font-family: "Rounds Black";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #00327D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.muscles__item-text {
  color: #00327D;
  font-family: "Avenir Roman";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*==================================== FOOTER ====================================*/
/*==================================== FOOTER ====================================*/
.footer {
  padding-top: 109px;
  padding-bottom: 108px;
  background: #006AB5;
}
.footer__heading {
  color: #FFF;
  text-align: center;
  font-family: "Rounds Black";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 51px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 851px;
  margin: 0 auto 55px;
}
.footer__item:first-child {
  max-width: 220px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 220px;
          flex: 1 1 220px;
}
.footer__item:nth-child(2) {
  max-width: 279px;
}
.footer__item:last-child {
  max-width: 272px;
}
.footer__item-title {
  color: #FFF;
  text-align: center;
  font-family: "Avenir Roman";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.footer__item-subtitle {
  color: #F7A81A;
  text-align: center;
  font-family: "Rounds Black";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__text {
  color: #FFF;
  text-align: center;
  font-family: "Avenir Roman";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 44px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
}
.footer__form-inner {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.footer__form-input {
  padding: 15px 0px 14px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  margin-bottom: 40px;
  width: 100%;
  line-height: 1;
  height: 55px;
  color: #00327D;
  font-family: "Avenir Roman";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__form-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.footer__form-input:focus::-moz-placeholder {
  color: transparent;
}
.footer__form-input:focus:-ms-input-placeholder {
  color: transparent;
}
.footer__form-input:focus::-ms-input-placeholder {
  color: transparent;
}
.footer__form-input:focus::placeholder {
  color: transparent;
}
.footer__form-input::-webkit-input-placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir Roman";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.footer__form-input::-moz-placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir Roman";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.footer__form-input:-ms-input-placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir Roman";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.footer__form-input::-ms-input-placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir Roman";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.footer__form-input::placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir Roman";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.footer__select {
  position: relative;
  height: 55px;
  width: 100%;
  margin-bottom: 40px;
}
.footer__select[data-state=active] .footer__select-title::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.footer__select[data-state=active] .footer__select-content {
  opacity: 1;
}
.footer__select[data-state=active] .footer__select-label + .footer__select-input + .footer__select-label {
  max-height: 55px;
}
.footer__select-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 0px 14px 34px;
  border-radius: 25px;
  background: #fff;
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir Roman";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.footer__select-title::before {
  content: "";
  position: absolute;
  display: block;
  right: 16px;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: url("../img/4.footer/footer-delect-arrow.svg") no-repeat;
}
.footer__select-title--selected {
  color: #00327D;
}
.footer__select-content {
  position: absolute;
  top: 35px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
  border-radius: 0 0 25px 25px;
}
.footer__select-input {
  display: none;
}
.footer__select-input:checked + label {
  background-color: #dedede;
}
.footer__select-input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}
.footer__select-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
  max-height: 0;
  padding: 0 34px;
  color: #00327D;
  font-family: "Avenir Roman";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
}
.footer__select-label:hover {
  text-decoration: underline;
}
.footer__select-label:last-child {
  border-radius: 0 0 25px 25px;
}
.footer__form-label {
  color: #FFF;
  font-family: "Avenir Roman";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 457px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}
.footer__form-checkbox:not(:checked) + label:after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.footer__form-checkbox:not(:checked), .footer__form-checkbox:checked {
  opacity: 0;
}
.footer__form-checkbox:not(:checked) + label, .footer__form-checkbox:checked + label {
  position: relative;
  padding-left: 47px;
  cursor: pointer;
}
.footer__form-checkbox:not(:checked) + label:before, .footer__form-checkbox:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22.5px;
  height: 22.5px;
  background: #FFF;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__form-checkbox:not(:checked) + label:after, .footer__form-checkbox:checked + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/4.footer/checkbox.svg"), #006AB5;
  border-radius: 2px;
  width: 22.5px;
  height: 22.5px;
  color: #006AB5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__form-button {
  border-radius: 25px;
  background: #F7A81A;
  padding: 14px 36px 14px 35px;
  color: #FFF;
  text-align: center;
  font-family: "Avenir Roman";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  max-width: 264px;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__form-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*------------------------------ 1440 ------------------------------*/
@media (min-width: 1440px) {
  .hero__girl {
    top: 10vw;
  }
}