/*==================================== RESET STYLES ====================================*/
/*==================================== RESET STYLES ====================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*==================================== VARS ====================================*/
/*==================================== VARS ====================================*/
/*==================================== MIXINS ====================================*/
/*==================================== MIXINS ====================================*/
/*==================================== FONTS ====================================*/
/*==================================== FONTS ====================================*/
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir_light/avenir_light.otf") format("otf"), url("../fonts/avenir_light/avenir_light.woff") format("woff"), url("../fonts/avenir_light/avenir_light.woff2") format("woff2"), url("../fonts/avenir_light/avenir_light.ttf") format("truetype"), url("../fonts/avenir_light/avenir_light.svg#Avenir Light") format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir_roman/avenir_roman.otf") format("otf"), url("../fonts/avenir_roman/avenir_roman.woff") format("woff"), url("../fonts/avenir_roman/avenir_roman.woff2") format("woff2"), url("../fonts/avenir_roman/avenir_roman.ttf") format("truetype"), url("../fonts/avenir_roman/avenir_roman.svg#Avenir Roman") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir_black/avenir_black.otf") format("otf"), url("../fonts/avenir_black/avenir_black.woff") format("woff"), url("../fonts/avenir_black/avenir_black.woff2") format("woff2"), url("../fonts/avenir_black/avenir_black.ttf") format("truetype"), url("../fonts/avenir_black/avenir_black.svg#Avenir Black") format("svg");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "rounds black";
  src: url("../fonts/rounds_black/rounds_black.otf") format("otf"), url("../fonts/rounds_black/rounds_black.woff") format("woff"), url("../fonts/rounds_black/rounds_black.woff2") format("woff2"), url("../fonts/rounds_black/rounds_black.ttf") format("truetype"), url("../fonts/rounds_black/rounds_black.svg#rounds Black") format("svg");
  font-style: normal;
  font-weight: 900;
}
html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  width: 100vw;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
}

.button {
  border-radius: 20px;
  display: block;
}

.underline {
  text-decoration: underline;
}

/*==================================== HEADER ====================================*/
/*==================================== HEADER ====================================*/
.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.header__top {
  height: 82px;
  background: #FFF;
  color: #00327D;
  font-size: 11px;
  font-weight: 400;
}
.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 431px;
          flex: 0 1 431px;
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu-link {
  font-family: "Avenir";
  font-size: inherit;
  color: inherit;
}
.header__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__button {
  font-family: "Avenir";
  font-size: 13px;
  color: #FFF;
}
.header__button:hover {
  text-decoration: underline;
}
.header__button--1 {
  background: #F7A81A;
  padding: 11px 31px 11px 30px;
  margin-right: 20px;
}
.header__button--2 {
  background: #006AB5;
  padding: 11px 28px 11px 27px;
}
.header__burger {
  display: none;
}
.header__bottom {
  height: 76px;
  background: rgba(255, 255, 255, 0.5019607843);
}
.header__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__bottom-item:nth-child(1) a:hover {
  color: #E14591;
}
.header__bottom-item:nth-child(2) a:hover {
  color: #65257F;
}
.header__bottom-item:nth-child(3) a:hover {
  color: #F7A819;
}
.header__bottom-item:nth-child(4) a:hover {
  color: #E14591;
}
.header__bottom-item:nth-child(5) a:hover {
  color: #F7A81A;
}
.header__bottom-link {
  color: #FFF;
  font-family: "Avenir";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__side {
  display: none;
}

/*==================================== HERO ====================================*/
/*==================================== HERO ====================================*/
.hero {
  background: url("../img/2.hero/hero-bg.svg") no-repeat center bottom/100% auto, #A7D0F6;
  height: 58vw;
  min-height: 840px;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-top: 36px;
  position: relative;
}
.hero__girl {
  position: absolute;
  z-index: 2;
  bottom: 23vw;
  left: 45%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.hero__girl img {
  width: 23vw;
}
.hero__heading {
  color: #00327D;
  text-align: center;
  font-family: "Rounds Black";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 3;
  margin-bottom: 56px;
  max-width: 900px;
}
.hero__text {
  color: #00327D;
  text-align: center;
  font-family: "Avenir";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
  z-index: 3;
}
.hero__button-box {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__button {
  border-radius: 25px;
  background: #F7A81A;
  padding: 14px 72px 14px 71px;
  color: #FFF;
  text-align: center;
  font-family: "Avenir";
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hero__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.hero__button:nth-child(2) {
  display: none;
}
.hero__button:last-child {
  display: none;
}

/*==================================== MUSCLES ====================================*/
/*==================================== MUSCLES ====================================*/
.muscles {
  padding: 120px 0;
}
.muscles__heading {
  text-align: center;
  font-family: "Rounds Black";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #00327D;
  max-width: 650px;
  margin: 0 auto 20px;
}
.muscles__text {
  margin-bottom: 75px;
  text-align: center;
  font-family: "Avenir";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #00327D;
}
.muscles__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.muscles__panel--mobile {
  display: none;
}
.muscles__image-box {
  position: relative;
  width: 489px;
}
.muscles__image {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.muscles__image--active {
  visibility: visible;
  opacity: 1;
}
.muscles__info {
  max-width: 622px;
  padding-top: 15px;
}
.muscles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.muscles__item {
  padding-bottom: 92px;
  cursor: pointer;
  position: relative;
}
.muscles__item:last-child {
  padding-bottom: 0;
}
.muscles__item--active .muscles__item-title {
  color: #E14591;
  font-size: 30px;
}
.muscles__item-arrow {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.muscles__item-arrow--active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.muscles__item-arrow--1 {
  top: 12px;
  left: -210px;
}
.muscles__item-arrow--2 {
  top: 12px;
  left: -144px;
}
.muscles__item-arrow--3 {
  top: 12px;
  left: -146px;
}
.muscles__item-arrow--4 {
  top: 12px;
  left: -180px;
}
.muscles__item-arrow--5 {
  top: -115px;
  left: -174px;
}
.muscles__item-title {
  margin-bottom: 35px;
  font-family: "Rounds Black";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #00327D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.muscles__item-text {
  color: #00327D;
  font-family: "Avenir";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*==================================== FOOTER ====================================*/
/*==================================== FOOTER ====================================*/
.footer {
  padding-top: 109px;
  padding-bottom: 108px;
  background: #006AB5;
}
.footer__heading {
  color: #FFF;
  text-align: center;
  font-family: "Rounds Black";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 51px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 851px;
  margin: 0 auto 55px;
}
.footer__item:first-child {
  max-width: 220px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 220px;
          flex: 1 1 220px;
}
.footer__item:nth-child(2) {
  max-width: 279px;
}
.footer__item:last-child {
  max-width: 272px;
}
.footer__item-title {
  color: #FFF;
  text-align: center;
  font-family: "Avenir";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.footer__item-subtitle {
  color: #F7A81A;
  text-align: center;
  font-family: "Rounds Black";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__text {
  color: #FFF;
  text-align: center;
  font-family: "Avenir";
  font-size: 17px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 44px;
}
.footer__text--tablet {
  display: none;
}
.footer__text--mobile {
  display: none;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
}
.footer__form-inner {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.footer__form-input {
  padding: 15px 30px 14px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  margin-bottom: 40px;
  width: 100%;
  line-height: 1;
  height: 55px;
  color: #00327D;
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__form-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.footer__form-input:focus::-moz-placeholder {
  color: transparent;
}
.footer__form-input:focus:-ms-input-placeholder {
  color: transparent;
}
.footer__form-input:focus::-ms-input-placeholder {
  color: transparent;
}
.footer__form-input:focus::placeholder {
  color: transparent;
}
.footer__form-input::-webkit-input-placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.footer__form-input::-moz-placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.footer__form-input:-ms-input-placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.footer__form-input::-ms-input-placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.footer__form-input::placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.footer__select {
  position: relative;
  height: 55px;
  width: 100%;
  margin-bottom: 40px;
}
.footer__select[data-state=active] .footer__select-title::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.footer__select[data-state=active] .footer__select-content {
  opacity: 1;
}
.footer__select[data-state=active] .footer__select-label + .footer__select-input + .footer__select-label {
  max-height: 55px;
}
.footer__select-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 0px 14px 34px;
  border-radius: 25px;
  background: #fff;
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 100;
  position: relative;
  cursor: pointer;
}
.footer__select-title::before {
  content: "";
  position: absolute;
  display: block;
  right: 16px;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: url("../img/4.footer/footer-delect-arrow.svg") no-repeat;
}
.footer__select-title--selected {
  color: #00327D;
}
.footer__select-content {
  position: absolute;
  top: 30px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 0;
  border-radius: 0 0 25px 25px;
}
.footer__select-input {
  display: none;
}
.footer__select-input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}
.footer__select-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
  max-height: 0;
  padding: 0 34px;
  color: #00327D;
  font-family: "Avenir";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
}
.footer__select-label:hover {
  text-decoration: underline;
}
.footer__select-label:last-child {
  border-radius: 0 0 25px 25px;
}
.footer__form-label {
  color: #FFF;
  font-family: "Avenir";
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  max-width: 457px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  margin-top: 5px;
}
.footer__form-checkbox:not(:checked) + label:after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.footer__form-checkbox:not(:checked), .footer__form-checkbox:checked {
  opacity: 0;
}
.footer__form-checkbox:not(:checked) + label, .footer__form-checkbox:checked + label {
  position: relative;
  padding-left: 47px;
  cursor: pointer;
}
.footer__form-checkbox:not(:checked) + label:before, .footer__form-checkbox:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22.5px;
  height: 22.5px;
  background: #FFF;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__form-checkbox:not(:checked) + label:after, .footer__form-checkbox:checked + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/4.footer/checkbox.svg"), #006AB5;
  border-radius: 2px;
  width: 22.5px;
  height: 22.5px;
  color: #006AB5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__form-button {
  border-radius: 25px;
  background: #F7A81A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "Avenir";
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  width: 264px;
  height: 55px;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__form-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*------------------------------ 1440 ------------------------------*/
@media (min-width: 1440px) {
  .hero__girl {
    top: 9.7vw;
  }
}
/*------------------------------ 1250 ------------------------------*/
@media (max-width: 1250px) {
  .muscles {
    padding: 100px 0;
  }
  .muscles__image-box {
    width: 39vw;
  }
  .muscles__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .muscles__image img {
    display: block;
    width: 100%;
  }
  .muscles__info {
    width: 50vw;
  }
  .muscles__item--active .muscles__item-title {
    font-size: 2.4vw;
  }
  .muscles__item-arrow--1 {
    top: 1.1vw;
    left: -17vw;
  }
  .muscles__item-arrow--1 img {
    width: 15.5vw;
  }
  .muscles__item-arrow--2 {
    top: 1.1vw;
    left: -10.5vw;
  }
  .muscles__item-arrow--2 img {
    width: 9vw;
  }
  .muscles__item-arrow--3 {
    top: 1.1vw;
    left: -10.5vw;
  }
  .muscles__item-arrow--3 img {
    width: 8.7vw;
  }
  .muscles__item-arrow--4 {
    top: 1.1vw;
    left: -13vw;
  }
  .muscles__item-arrow--4 img {
    width: 11.5vw;
  }
  .muscles__item-arrow--5 {
    top: -7.9vw;
    left: -12.6vw;
  }
  .muscles__item-arrow--5 img {
    width: 11vw;
  }
  .muscles__list-item {
    padding-bottom: 7.3vw;
  }
  .muscles__item-title {
    margin-bottom: 2.8vw;
    font-size: 2vw;
  }
  .muscles__item-text {
    font-size: 1.45vw;
  }
}
/*------------------------------ 1200 ------------------------------*/
@media (max-width: 1200px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
  }
}
/*------------------------------ 1100 ------------------------------*/
@media (max-width: 1100px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
  }
}
/*------------------------------ 950 ------------------------------*/
@media (max-width: 950px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
  }
  .header__bottom-link {
    font-size: 14px;
  }
  .muscles {
    padding: 70px 0;
  }
  .muscles__heading {
    font-size: 30px;
  }
  .muscles__text {
    font-size: 16px;
  }
}
/*------------------------------ 850 ------------------------------*/
@media (max-width: 850px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
  .hero__heading {
    font-size: 56px;
  }
}
/*------------------------------ 834 ------------------------------*/
@media (max-width: 834px) {
  .container {
    padding: 0 64px;
  }
  .header {
    z-index: 100;
  }
  .header__top {
    height: 56px;
    margin-top: 40px;
    background: transparent;
  }
  .header__menu {
    display: none;
  }
  .header__button-box {
    display: none;
  }
  .header__bottom {
    display: none;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 54px;
    height: 54px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    z-index: 1000;
  }
  .header__burger-line {
    width: 30px;
    height: 2px;
    border-radius: 2px;
    background: #00327D;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger-line:last-child {
    margin-bottom: 0;
  }
  .header__burger--active {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger--active .header__burger-line {
    position: absolute;
    margin-bottom: 0;
    background: #fff;
  }
  .header__burger--active .header__burger-line:first-child, .header__burger--active .header__burger-line:last-child {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header__side {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 722px;
    z-index: 100;
    background: #00327D;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__side--active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    position: absolute;
  }
  .header__side-menu {
    padding: 85px;
    height: 100%;
  }
  .header__side-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .header__side-link {
    color: #fff;
    font-family: "Avenir";
    font-size: 25px;
    font-style: normal;
    line-height: normal;
  }
  .hero {
    min-height: 662px;
    background: url("../img/2.hero/hero-bg-tablet.svg") center;
  }
  .hero__heading {
    font-size: 40px;
    margin-bottom: 50px;
    max-width: 572px;
  }
  .hero__text {
    font-size: 19px;
    color: #fff;
    margin-bottom: 70px;
  }
  .hero__girl {
    display: none;
  }
  .hero__button-box {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .hero__button {
    width: 328px;
    height: 50px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
  .hero__button:first-child {
    display: none;
  }
  .hero__button:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__button:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    border: 2px solid #FFF;
    margin-right: 0;
  }
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-filter: blur(13px);
            filter: blur(13px);
  }
  .overlay--show {
    opacity: 0.5;
    visibility: visible;
  }
  .overlay--show .header {
    z-index: 100;
  }
  .main--blurred,
  .footer--blurred {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  .muscles__heading {
    font-size: 25px;
    margin-bottom: 30px;
    max-width: 100%;
  }
  .muscles__text {
    font-size: 17px;
  }
  .muscles__panel {
    display: none;
  }
  .muscles__panel--mobile {
    display: block;
  }
  .muscles__panel-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 20px;
    height: 260px;
  }
  .muscles__panel-item:last-child {
    margin-bottom: 0;
  }
  .muscles__panel-item:nth-child(1) .muscles__panel-item-bg {
    right: -64px;
  }
  .muscles__panel-item:nth-child(1) .muscles__panel-item-bg img {
    width: 72.2vw;
  }
  .muscles__panel-item:nth-child(1) .muscles__panel-info {
    margin-left: 9vw;
  }
  .muscles__panel-item:nth-child(2) .muscles__panel-item-bg {
    left: -64px;
  }
  .muscles__panel-item:nth-child(2) .muscles__panel-item-bg img {
    width: 70.1vw;
  }
  .muscles__panel-item:nth-child(2) .muscles__panel-info {
    margin-right: 10vw;
  }
  .muscles__panel-item:nth-child(3) .muscles__panel-item-bg {
    top: 16px;
    right: -64px;
  }
  .muscles__panel-item:nth-child(3) .muscles__panel-item-bg img {
    width: 72.2vw;
  }
  .muscles__panel-item:nth-child(3) .muscles__panel-info {
    margin-left: 9vw;
  }
  .muscles__panel-item:nth-child(4) .muscles__panel-item-bg {
    left: -64px;
  }
  .muscles__panel-item:nth-child(4) .muscles__panel-item-bg img {
    width: 68.2vw;
  }
  .muscles__panel-item:nth-child(4) .muscles__panel-info {
    margin-right: 10vw;
  }
  .muscles__panel-item:nth-child(5) .muscles__panel-item-bg {
    top: 50px;
    right: -64px;
  }
  .muscles__panel-item:nth-child(5) .muscles__panel-item-bg img {
    width: 71.5vw;
  }
  .muscles__panel-item:nth-child(5) .muscles__panel-info {
    margin-left: 9vw;
  }
  .muscles__panel-item-bg {
    position: absolute;
    z-index: -1;
  }
  .muscles__panel-image {
    width: 140px;
  }
  .muscles__panel-image img {
    width: 100%;
  }
  .muscles__panel-info {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .muscles__panel-title {
    color: #FFF;
    font-family: "Rounds Black";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
  }
  .muscles__panel-text {
    max-width: 484px;
    color: #FFF;
    font-family: "Avenir";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer {
    padding: 50px 0;
  }
  .footer .container {
    padding: 0 30px;
  }
  .footer__heading {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .footer__item {
    margin-bottom: 40px;
  }
  .footer__item:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .footer__item:last-child {
    max-width: none;
    margin-bottom: 0;
  }
  .footer__item-title {
    font-size: 17px;
  }
  .footer__item-subtitle {
    font-size: 25px;
  }
  .footer__text--desktop {
    display: none;
  }
  .footer__text--tablet {
    display: block;
  }
  .footer__form {
    max-width: none;
  }
  .footer__form-label {
    max-width: 500px;
  }
  .footer__form-checkbox:not(:checked) + label, .footer__form-checkbox:checked + label {
    padding-left: 31px;
  }
  .footer__select-title--selected {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 900;
  }
  .footer__form-checkbox:not(:checked) + label:before, .footer__form-checkbox:checked + label:before {
    width: 16px;
    height: 16px;
  }
  .footer__form-checkbox:not(:checked) + label:after, .footer__form-checkbox:checked + label:after {
    background: url("../img/4.footer/checkbox.svg") 0 0/16px 16px, #006AB5;
    width: 16px;
    height: 16px;
  }
}
/*------------------------------ 750 ------------------------------*/
@media (max-width: 750px) {
  .muscles__panel-item {
    height: 240px;
  }
  .muscles__panel-title {
    font-size: 17px;
  }
  .muscles__panel-text {
    font-size: 14px;
  }
  .footer__form-input {
    margin-bottom: 35px;
    height: auto;
  }
  .footer__select {
    margin-bottom: 35px;
    height: auto;
  }
  .footer__select-label {
    height: 40px;
  }
  .footer__select-content {
    top: 26px;
  }
}
/*------------------------------ 630 ------------------------------*/
@media (max-width: 630px) {
  .container {
    padding: 0 30px;
  }
  .muscles__panel-item {
    margin-bottom: 0;
  }
  .muscles__panel-item:nth-child(2) .muscles__panel-item-bg {
    top: 30px;
  }
  .muscles__panel-item:nth-child(3) .muscles__panel-item-bg {
    top: 34px;
  }
  .muscles__panel-item:nth-child(5) .muscles__panel-item-bg {
    top: 48px;
  }
  .muscles__panel-image {
    width: 210px;
  }
}
/*------------------------------ 550 ------------------------------*/
@media (max-width: 550px) {
  .header__side {
    height: 650px;
  }
  .header__side-menu {
    padding: 85px 40px;
  }
  .header__side-link {
    font-size: 20px;
  }
  .muscles__text {
    margin-bottom: 40px;
  }
  .muscles__panel-item-bg {
    display: none;
  }
  .muscles__panel-title {
    color: #00327D;
  }
  .muscles__panel-text {
    color: #00327D;
  }
}
/*------------------------------ 500 ------------------------------*/
@media (max-width: 500px) {
  .hero__inner {
    padding-top: 130px;
  }
  .hero__button-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__heading {
    margin-bottom: 80px;
  }
  .hero__text {
    margin-bottom: 30px;
  }
  .hero__button {
    margin-right: 0;
  }
  .hero__button:nth-child(2) {
    margin-bottom: 20px;
  }
}
/*------------------------------ 400 ------------------------------*/
@media (max-width: 400px) {
  .container {
    padding: 0 16px;
  }
  .header__top {
    margin-top: 25px;
  }
  .header__side {
    height: 460px;
  }
  .header__side-menu {
    padding: 64px 40px;
  }
  .header__side-link {
    font-size: 15px;
  }
  .hero {
    background: url("../img/2.hero/hero-bg-mobile.svg") no-repeat center/cover;
    height: 627px;
    min-height: auto;
  }
  .hero__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .hero__heading {
    max-width: 310px;
    margin-bottom: 37px;
  }
  .hero__text {
    color: #00327D;
    font-size: 15px;
    margin-bottom: 63px;
  }
  .hero__button {
    font-size: 16px;
  }
  .muscles {
    padding: 60px 0;
  }
  .muscles__heading {
    font-size: 20px;
  }
  .muscles__text {
    font-size: 16px;
    line-height: 1.2;
  }
  .muscles__panel-item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .muscles__panel-item img {
    width: 112px;
  }
  .muscles__panel-item:nth-child(1) .muscles__panel-info {
    max-width: 185px;
  }
  .muscles__panel-item:nth-child(2) .muscles__panel-info {
    max-width: 185px;
  }
  .muscles__panel-item:nth-child(3) .muscles__panel-info {
    max-width: 185px;
  }
  .muscles__panel-item:nth-child(4) .muscles__panel-info {
    max-width: 185px;
  }
  .muscles__panel-item:nth-child(5) .muscles__panel-info {
    max-width: 185px;
  }
  .muscles__panel-image {
    width: auto;
  }
  .footer .container {
    padding: 0 16px;
  }
  .footer__text--mobile {
    display: block;
  }
  .footer__text--tablet {
    display: none;
  }
  .footer__form-input {
    height: 40px;
    padding: 11px 15px 11px 15px;
    font-size: 13px;
    font-family: "Avenir";
    margin-bottom: 10px;
  }
  .footer__form-input::-webkit-input-placeholder {
    font-size: 13px;
  }
  .footer__form-input::-moz-placeholder {
    font-size: 13px;
  }
  .footer__form-input:-ms-input-placeholder {
    font-size: 13px;
  }
  .footer__form-input::-ms-input-placeholder {
    font-size: 13px;
  }
  .footer__form-input::placeholder {
    font-size: 13px;
  }
  .footer__form-label {
    font-size: 8px;
    margin-top: 10px;
  }
  .footer__select {
    height: 40px;
    margin-bottom: 10px;
  }
  .footer__select-title {
    padding: 11px 15px 11px 15px;
    font-size: 13px;
  }
  .footer__select-content {
    top: 18px;
  }
  .footer__select-label {
    padding: 0 16px;
    font-size: 13px;
    height: 25px;
  }
  .footer__form-button {
    width: 100%;
    height: 50px;
    font-size: 16px;
  }
}
/*------------------------------ 350 ------------------------------*/
@media (max-width: 350px) {
  .hero__button {
    width: 260px;
  }
}