/*==================================== VARS ====================================*/
/*==================================== VARS ====================================*/

$purple: #65257F;
$yellow: #F7A81A;
$cyan: #77CADE;
$pink: #E14591;
$white: #FFF;
$dark-white: #F7F7F7;
$light-blue: #006AB5;
$blue: #00327D;